node_modules
node_modules/
*.log
.DS_Store
__pycache__/
*.pyc
.env

app/interface/dist/

safegirl-classifier-checkpoints*/
checkpoints/

# Python virtual environments
.venv*/
node_modules/
app/gateway/firebase-service-account.json
**/firebase-service-account*.json
