node_modules
node_modules/
*.log
.DS_Store
__pycache__/
*.pyc
.env

app/interface/dist/

safegirl-classifier-checkpoints/
checkpoints/
node_modules/
app/gateway/firebase-service-account.json
**/firebase-service-account*.json
